@import url('https://fonts.googleapis.com/css?family=Roboto|Sedgwick Ave Display|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


body {
    font-family: 'Love Ya Like A Sister', cursive;
    overflow-x:hidden;
    
}

.background-wrap {
	position: fixed;
	z-index: -1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	}
			
#video-bg {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	}


.content {
	position: absolute;
	width: 100%;
	min-height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,0.7);
	}
			
.content h1 {
	text-align: center;
	font-size: 60px;
	text-transform: uppercase;
    font-weight: 300;
	color: #fff;
	padding-top: 5%;
	margin-bottom: 10px;
	}

.content p {
	text-align: center;
	font-size: 30px;
	letter-spacing: 3px;
	color: #aaa;
   
	}

/*----style for */

.bg-img{
background-image: url('../images/cartoonbackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.jumbotron{
    text-align:center;
    background-color: rgba(118, 241, 35, 0.411);
    border-radius: .1em;
    padding-top:50px;
}
.psimage{
  padding-top:200px;
  
}

.bg{
    background: radial-gradient(rgba(158, 247, 118, 0.719), rgba(14, 189, 23, 0.842)); 
}

/*----style for maths4toddler.html----*/

.mathstoddler{
    background: radial-gradient(rgba(238, 255, 0, 0.904), rgba(218, 59, 32, 0.973));
}

#button {
	background: rgb(194, 35, 7);
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}

#button:hover {
	background: white;
	border: 1px solid rgba(199, 221, 2, 0.863);
	color: black;
	cursor: pointer;

}

#results_maths {
	visibility: hidden;
	background: #ffa8abc7;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: center;
	margin-left: 220px;
	font-size: 30px;
}

#picture {
	width: 375px;
	height: 245px;
    float:center;
    padding-right:10px;
}

/*---style for memory4toddler the style is highly inspired from this video "https://www.youtube.com/watch?v=28VfzEiJgy4&t=82s"---*/

.page-title {
  color: #3D2200;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: rgb(71, 35, 8);
  font-size: 4em;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.block {
  position: relative;
  height: 175px;
  width: 125px;
}

.block-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.block.visible .block-back {
  transform: rotateY(-180deg); 
}

.block.visible .block-front {
  transform: rotateY(0); 
}

.block.matched .block-front .block-value {
  animation: dance 1s linear infinite 500ms;
}

.block-back {
  background-color: rgb(245, 233, 233);
  border-color: rgb(136, 59, 1);
  transform: rotateY(0); 
}

.triangle-pattern {
  align-self: flex-start;
  transition: transform 100ms ease-in-out;
  transform: translateY(-10px);
}

.block-value {
  position: relative;
  transition: transform 100ms ease-in-out;
  transform: scale(.9);
}

.block-back:hover .triangle-pattern {
  transform: translateY(0);
}

.block-front:hover .block-value {
  transform: scale(1);
}

.block-front {
    border-color: #333;
    transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(71, 35, 8);
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(-30deg)
  }
  75% {
    transform: rotate(30deg)
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto)
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}